@model List<Web.Vebinar.Test.Models.DTO.Auto>

@{
    ViewBag.Title = "Index";
}

<br /><br />

<table class="table table-striped">

    <tr>
        <th>Название</th>
        <th>Год</th>
        <th>Цена</th>
        <th>&nbsp;</th>
    </tr>

    @foreach(var auto in Model)
    {
        <tr>
            <td>@auto.Name</td>
            <td>@auto.Year</td>
            <td>@auto.Price</td>
            <td>
                <div class="pull-right">
                    @Html.ActionLink("Изменить", $"Edit/{auto.Id}", "Home")
                    <span>&nbsp;</span>
                    @Html.ActionLink("Удалить", $"Delete/{auto.Id}", "Home")
                </div>
            </td>
        </tr>
    }
</table>

